<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DigiMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.digimarket.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterFarmer</display-name>
    <servlet-name>RegisterFarmer</servlet-name>
    <servlet-class>com.digimarket.RegisterFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFarmer</servlet-name>
    <url-pattern>/RegisterFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterFarmer1</display-name>
    <servlet-name>RegisterFarmer1</servlet-name>
    <servlet-class>com.digimarket.RegisterFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFarmer1</servlet-name>
    <url-pattern>/RegisterFarmer1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegFarmer</display-name>
    <servlet-name>RegFarmer</servlet-name>
    <servlet-class>com.digimarket.RegFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegFarmer</servlet-name>
    <url-pattern>/RegFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterBuyer</display-name>
    <servlet-name>RegisterBuyer</servlet-name>
    <servlet-class>com.digimarket.RegisterBuyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBuyer</servlet-name>
    <url-pattern>/RegisterBuyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>farmerLogin</display-name>
    <servlet-name>farmerLogin</servlet-name>
    <servlet-class>com.digimarket.farmerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>farmerLogin</servlet-name>
    <url-pattern>/farmerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buyerLogin</display-name>
    <servlet-name>buyerLogin</servlet-name>
    <servlet-class>com.digimarket.buyerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buyerLogin</servlet-name>
    <url-pattern>/buyerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostProduct</display-name>
    <servlet-name>PostProduct</servlet-name>
    <servlet-class>com.digimarket.PostProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostProduct</servlet-name>
    <url-pattern>/PostProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.digimarket.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFarmer_Admin</display-name>
    <servlet-name>AddFarmer_Admin</servlet-name>
    <servlet-class>com.digimarket.AddFarmer_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFarmer_Admin</servlet-name>
    <url-pattern>/AddFarmer_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFarmers</display-name>
    <servlet-name>DeleteFarmers</servlet-name>
    <servlet-class>com.digimarket.DeleteFarmers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFarmers</servlet-name>
    <url-pattern>/DeleteFarmers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordFarmer</display-name>
    <servlet-name>ChangePasswordFarmer</servlet-name>
    <servlet-class>com.digimarket.ChangePasswordFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordFarmer</servlet-name>
    <url-pattern>/ChangePasswordFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackOrder</display-name>
    <servlet-name>TrackOrder</servlet-name>
    <servlet-class>com.digimarket.TrackOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackOrder</servlet-name>
    <url-pattern>/TrackOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordBuyer</display-name>
    <servlet-name>ChangePasswordBuyer</servlet-name>
    <servlet-class>com.digimarket.ChangePasswordBuyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordBuyer</servlet-name>
    <url-pattern>/ChangePasswordBuyer</url-pattern>
  </servlet-mapping>
</web-app>